<form [formGroup]="form" class="form-container">
  <div class="input-row">
    <mat-form-field appearance="outline" class="language-input">
      <mat-label>Language</mat-label>
      <input
        matInput
        [formControl]="newLanguageControl"
        placeholder="Enter a language"
      />
      <mat-error *ngIf="newLanguageControl.hasError('required')">
        Language is required
      </mat-error>
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      type="button"
      class="add-button"
      [disabled]="newLanguageControl.invalid"
      (click)="addLanguage()"
    >
      <mat-icon>add</mat-icon> Add
    </button>
  </div>

  <div class="language-chips" *ngIf="languages.controls.length > 0">
    <mat-chip-set>
      <mat-chip
        *ngFor="let language of languages.controls; let i = index"
        removable="true"
        (removed)="removeLanguage(i)"
      >
        {{ language.get("language")?.value }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-set>
  </div>
</form>
